nav {

  font-weight: bold;
  margin-top: 40px;
  float: right;
  ul {
    margin: 0;
    padding: 0;
    li {
      //font-family: OpenSansSemibold;
      list-style: none;
      font-size: 12px;
      color: #666;
      float: left;
      width: 108px;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      a {
        text-decoration: none;
        color: #666;
        font-size: 14px;
        i{
          margin-top: 3px;
          font-size: 40px ;
        }
      }
      .icon-title {

        font-size: 21px;
        color: #bbb;
      }
      &:hover {
        a {
          color: #bbb;
        }
        .icon-title {
          color: #497e04;
        }
      }
    }
  }
  .active-icon{
    a {
      color: #bbb;
    }
    .icon-title {
      color: #497e04;
    }
  }
}
