/*
 * SMACSS + BME + SCSS starter v1.0
 * Inspired by SMACSS http://smacss.com
 * Author: ELLOUMI Omar
 * Date: 01 Janvier 2018
 */

// = Tools
// ------------------------
@import 'tools/site-settings';
@import 'tools/layout-settings';
@import 'tools/mixins';
@import 'tools/functions';
// = Base
// ------------------------
@import 'base/normalize';
@import 'base/base';
@import 'base/helpers';
@import 'base/form';
// = fonts
// ------------------------
@import 'fonts/fonts';
// = Layout
// ------------------------
@import 'layout/wrapper';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/content';
@import 'layout/footer';
// = Libs
// ------------------------
// = Modules
// ------------------------