@charset 'UTF-8';
// -----------------------------------------
// == Site settings-
// -----------------------------------------
$fontFamily : "OpenSans", sans-serif;
$edgesPadding:220px;
//---------------
$Hiconplace:$edgesPadding+440;
$Viconplace:75px;
// = Fonts
// -----------------------------


$font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-size-base: 16;
$colorbase: #000;
$color-selection-background: #2685c8;
$color-selection: #fff;


// = Btns color
//-------------------------------
$btn-black: #000;


// = Text color
//-------------------------------
$text-black: #000;
$text-white: #fff;


// = link color
//-------------------------------
$link-black: #000;
$link-white: #fff;


// = color Placeholder
//-------------------------------


// = background color
//-------------------------------
$back-black: #000;
$back-white: #fff;


// = border color
//-------------------------------
$border-black: #000;
$border-white: #fff;
$border-gray: #ccc;


// = shadow color
//-------------------------------
$shadow-black: #000;
$shadow-white: #fff;