/*---------------------------------------*\
  Layout/ content
\*---------------------------------------*/

.l-content {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.layer-28 {
	width: 220px;
	height: 182px;
	position: relative;
    left: 115px;
    top: 5px;
}

.at-vero-eos-et-accusamus-et-iu-copy {
	color: #000; // text color
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-style: italic;
	position: relative;
    left: 130px;
    top: 5px;
}

.testimonials {
	color: #000; // text color
	font-family: "OpenSans", sans-serif;
	font-size: 42px;
	font-weight: bold;
	position: relative;
    left: 930px;
    top: 5px;

}
.testimonialss {
	color: #1313; // text color
	font-family: "OpenSans", sans-serif;
	font-size: 42px;
	font-weight: bold;
	position: relative;
    left: 930px;
    top: 5px;

}