/*---------------------------------------*\
  Layout/ footer
\*---------------------------------------*/

.l-footer {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.layer-8-copy {
	width: 1200px;
	height: 257px;
	background-color: #101010;
	
}
